# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Build artifacts
dist/
build/
*.egg-info/

# Virtual environment
.venv/

# Cache files
.cache/
twitter_cache.sqlite

# IDE / Editor specific
.vscode/
.idea/
